<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Registro{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">
</head>
<body>
    <div class="d-flex align-items-center justify-content-center" style="min-height: 100vh; background: linear-gradient(120deg, #e0eafc 0%, #cfdef3 100%);">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/registro.js') }}"></script>
    <script src="{{ url_for('static', filename='js/guias.js') }}"></script>

</body>
</html>