{% extends 'base.html' %}
{% block title %}Guías{% endblock %}
{% block content %}
<h2 class="text-center mb-3" style="color: var(--primary);">Guías de Aprendizaje</h2>

<input type="text" id="searchInput" class="form-control" placeholder="Buscar guías...">

<div class="table-responsive">
  <table class="table-custom" id="guiasTable">
    <thead>
      <tr>
        <th>Nombre Guía</th>
        <th>Descripción</th>
        <th>Programa</th>
        <th>Instructor</th>
        <th>Regional</th>
        <th>Fecha</th>
        <th>PDF</th>
      </tr>
    </thead>
    <tbody id="guiasBody">
      <!-- Aquí se insertarán las filas con JS -->
    </tbody>
  </table>
</div>

<div id="pagination" class="pagination mt-3"></div>
<script src="{{ url_for('static', filename='js/guias.js') }}"></script>
{% endblock %}
